<!DOCTYPE html>
<html>

<head>
    <title>
        ExpressJS
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/headings.css' />

</head>

<body>